body{
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
    text-align: center;
}
input{
    background-color: rgb(242, 237, 240);
    color: black; /* 버튼 텍스트의 색상을 검은색으로 설정 */
    width: 300px;
    height: 60px;
    border-radius: 15px;
    border:none;
    margin-bottom: 15px;
}